/* Contact me Page */
.page{
  margin-left: 5%;
}

body{
  background-image:url('background_1.jpeg');
  background-repeat:no-repeat;
}

h1{
  color: white;
}

.socialMedia{
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: white;
}

input, textarea {
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}
