/* Home Page */
.ProfilePic{
  length: 200px;
  width: 200px;
  display: block;
  margin-left: 50px;
}

.page{
  margin-left: 0%;
  color: white;
}

.name{
  font-family: 'Dosis', 'Open Sans', 'Sans Serif';
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 25px 0 0;
  margin-left: 50px;
}

.title{
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 15px 0;
  margin-left: 50px;
}

.aboutMe{
  font-family: 'Dosis', 'Open Sans', 'Sans Serif';
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  position: relative;
  line-height: 1.7;
  margin-left: 50px;

}

.text{
  font-family: 'Open Sans', 'Sans Serif';
  font-size: 17px;
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: 0;
  margin-left: 50px;

}

body {
  margin: 0;
}
