/* Image Gallery Page */
body{
  background-color: lightgrey;
}
li a.active {
  background-color: #4CAF50;
  color: white;
}

div.gallery {
  margin: 5px;
  border: 1px solid white;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid;
}

div.gallery img {
  width: 100%;
  height: auto;
}