<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <form action="" method="post">
      <h1>Welcome to the Password Check</h1>
      <p>Lets see if your password is secure!<br></p>
      <p>Fill out the form below with a UserName and
        Password that has these Restraints:</p>
        <ul>
          <li>Must Have an uppercase letter</li>
          <li>Must have a lowercase letter</li>
          <li>Must have a number</li>
        </ul>
        <br>
      {{ form.hidden_tag() }}
        {{ form.username.label }} <br> {{form.username(size=32)}}
        <br>
        {{ form.password.label }} <br> {{ form.password(size=32)}}
        <br>
        {% for error in form.password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
        <br>
        {{ form.submit() }}
    </form>
  </body>
</html>
